.footer-container {
    background-color: #333333;
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;

    .border-content-footer {
        width: 65%;
        padding-top: 30px;

        .card-footer {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .title-footer {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.contact-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;

    .content-contact-footer {
        width: 65%;
    }
}