.home-container {
    .home-content {
        .title-list-movie {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: underline;
            text-align: center;
            margin: 20px 0;
        }
    }
}