body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app-container {
  .header-container {
    .navbar-nav {
      .nav-link {
        &.active {
          color: red;
        }
      }
    }

    .option-header-account {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 0 20px;
      background-color: #333333;
      color: white;

      .login {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .signup {
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-container {
    background-color: #333333;
    color: white;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;

    .border-content-footer {
      width: 65%;
      padding-top: 30px;

      .card-footer {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .title-footer {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .contact-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;

    .content-contact-footer {
      width: 65%;
    }
  }
}