.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .login-left {
        width: 50%;
        background-color: #7ee2d1;
        // display: flex;
        // flex-direction: column;
        text-align: center;

        .content-login-left {
            .title-left {
                font-weight: bold;
                font-size: 25px;
                text-align: center;
                margin: 20px 0;
            }

            .login-poster {
                display: flex;
                justify-content: center;
                width: 100%;

                .card-poster {
                    width: 60%;
                    display: flex;
                    height: 270px;
                    border-radius: 15px;
                    background-color: #62c4e9;
                    align-items: center;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

                    .content-poster {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .title-poster {
                            font-size: 20px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: white;
                        }

                        .btn-ticket-login {

                            button {
                                color: black;
                                background-color: #74DAC4;
                                border: 2px solid white;
                                border-radius: 10px;
                                width: 100px;
                                height: 40px;
                                font-size: 17px;
                                font-weight: 600;

                                &:hover {
                                    background-color: #1dcda7;
                                    transition: 0.4s;
                                }
                            }

                        }
                    }

                    .img-poster {
                        width: 50%;
                        display: flex;
                        justify-content: end;

                        img {
                            width: 88%;
                            border-radius: 0px 15px 15px 0px;
                        }
                    }
                }
            }
        }
    }

    .login-right {
        width: 50%;
        display: flex;
        align-items: center;

        .login-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .title-login {
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                margin: 20px;
            }

            .login-form {
                width: 60%;

                .forgot-password {
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }

                .border-login-submit {
                    display: flex;
                    justify-content: center;
                    margin-top: 25px;

                    .submit-login {
                        border-radius: 8px;
                        width: 100%;
                        height: 45px;
                        background-color: #7ee2d1;
                        border: none;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #62c4e9;
                            color: white;
                            transition: 0.2s ease;
                        }

                        &:disabled {
                            background-color: gainsboro;
                            cursor: no-drop;
                        }

                        .icon-login {
                            margin-right: 10px;
                            animation: spin 1s infinite linear;
                        }

                        @keyframes spin {
                            from {
                                transform: scale(1) rotate(0deg);
                            }

                            to {
                                transform: scale(1) rotate(360deg);
                            }
                        }
                    }
                }

                form {
                    .password-form {
                        position: relative;
                    }

                    .show-password {
                        position: absolute;
                        cursor: pointer;
                        right: 10px;
                        bottom: 10px;
                    }
                }

                .no-account {
                    margin-top: 10px;

                    .register {
                        &:hover {
                            text-decoration: underline;
                            color: red;
                            cursor: pointer;
                        }
                    }
                }

                .go-home {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        color: red;
                        text-decoration: underline;
                    }
                }

                .text-content-login {
                    text-align: center;
                    margin-top: 80px;
                }
            }
        }
    }
}